/* COMMON */
:root {
    --bg-my-color: #1abc9c;
    --bg-footer-top: #3a546d;
    --bg-footer-bottom: #2c3e50;
}

.line-bar {
    width: 15vw;
}

.w-85 {
    width: 85%;
}

.btn-verde {
    background-color: var(--bg-my-color);
}

/* HEADER SECTION */

header {
    background-color: var(--bg-footer-bottom);
}

/* START BOOTSTRAP SECTION */

main .start-bootstrap {
    background-color: var(--bg-my-color);
}
main .start-bootstrap .img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}
main .start-bootstrap .img img {
    width: 100%;
}
main .start-bootstrap .hg-45 {
    height: 45px;
}
main .portfolio .my-card img {
    width: 100%;
}

/* ABOUT SECTION */

main .about {
    background-color: var(--bg-my-color);
}


/* FOOTER SECTION */

footer .footer-top {
    background-color: var(--bg-footer-top);
}
footer .footer-bottom {
    background-color: var(--bg-footer-bottom);
}

/*
    DEBUG
*/


/* .debug main .portfolio .row .my-card {
    background-color: red;
}

.debug main .contact form {
    background-color: red;
    height: 200px;
} */

.debug footer .row .my-card {
    background-color: red;
    height: 100px;
}